*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  /* transition: width 0.3s ease; */
}

.gallery {
  max-width: 1440px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 156px;
  padding-right: 156px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 2 * 24px) / 3);
}

img:hover {
  width: 372px;
}

/* .modal {
  background-color: rgba(46, 47, 66, 0.8);
}

.modal img {
  padding: 24px 164px 24px 164px;
} */
